<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context">
	<!-- 激活@Required@Autowired,JSR250'S@PostConstruct,@PreDestroy and @Resource等标注 -->
	<context:annotation-config />
    <context:component-scan base-package="com.whut.erqiao"></context:component-scan>
	<!-- 导入外部的properties文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="driverClass" value="${driverClass}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
		<!-- 初始化3个链接 -->
		<property name="initialPoolSize" value="3"></property>
		<property name="minPoolSize" value="3"></property>
		<property name="maxPoolSize" value="15"></property>
		<!-- 当连接池中的连接耗尽时c3p0一次同时获取的连接数 -->
		<property name="acquireIncrement" value="3"></property>
		<!-- 控制数据源内加载的PrepareStatements的数量 -->
		<property name="maxStatements" value="8"></property>
		<!-- 单个连接所拥有的最大缓存statements数 -->
		<property name="maxStatementsPerConnection" value="5"></property>
		<!-- 最大空闲时间，1800秒内未使用则连接会被丢弃 -->
		<property name="maxIdleTime" value="1800"></property>

	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 指定hibernate配置文件位置 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<!-- 配置数据库 连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置事务管理，采用注解方式 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />

</beans>