body {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: none;


	scrollbar-face-color:#303030;/*轴面颜色 */
	scrollbar-arrow-color:#666666;/*箭头颜色 */
	scrollbar-track-color:#666666;/*轴轨道颜色 */
	scrollbar-highlight-color:#666666;/*左立体边颜色 */
	scrollbar-3dlight-color:#666666;/*轴面左边角颜色 */
	scrollbar-shadow-color:#666666; /*右立体边颜色 */
	scrollbar-darkshadow-color:#666666;/*轴面右边角颜色 */

	background-color: #303030;
	CURSOR: url('mouse.ani'); 
}

form
{ 
  margin:0px;
}

table 
{  
	font-size: 15px;
	color: #FFFFFF;
}

.TextGold 
{  
	font-size: 15px;
	color: #FFCC00;
}


.TextBrown 
{  
	font-size: 15px;
	color: #BD5F00;
}

.TextGreen
{  
	font-size: 15px;
	color: #009900;
}

.TextWhite
{  
	font-size: 15px;
	color: White;
}

.TextBlue 
{  
	font-size: 15px;
	color: #00CCFF;
}

.TextBlueB
{  
	font-size: 15px;
	color: #66FFFF;
}

.TextYellow 
{  
	font-size: 15px;
	color: Yellow;
}


.TextYellowB
{  
	font-size: 15px;
	color: #FFFF99;
}

.TextPink 
{  
	font-size: 15px;
	color: #FF6699;
}

.TextPurple
{  
	font-size: 15px;
	color: #A688FF;
}

.TextGray 
{  
	font-size: 15px;
	color: #CFCFCF;
}

.TextLime 
{  
	font-size: 15px;
	color: #66FF00;
}


.Number
{
	color: Lime;
	font-family: "Arial Black";
    FONT-SIZE: 16px;
    BACKGROUND-COLOR:  transparent;
    filter: DropShadow(Color=#000000, OffX=1, OffY=1);
}
.GroupboxTitle 
{  
	font-size: 15px;
	color: DeepSkyBlue;
}

.TextIntro
{  
	font-size: 16px;
	color: #CFCFCF;
	/*line-height: 22px;*/
	padding: 10px 10px 10px 10px ;
	text-align:justify;
	text-justify:inter-ideograph;
}

.TableBannerBg 
{
	background-image: url(b2.gif);
	background-repeat: repeat-x;
	background-position: left 0;
}

.GridTitle
{
	color: Gold;
	font-family: "黑体";
    FONT-SIZE: 20px;
    BACKGROUND-COLOR:  transparent;
    filter: DropShadow(Color=#000000, OffX=1, OffY=1);
}



.InputText
{
	width:120px;
	font-size: 9pt;
	color: Gold;
	border: 1px solid #CCCCCC;
	BACKGROUND-COLOR: #191919;

}

.ReadOnlyText
{
	width:120px;
	font-size: 12pt;
	color: Gold;
	border: 1px solid #CCCCCC;
	BACKGROUND-COLOR: Green;
}

.TransparentSilverText
{
	width:60px;
	font-size: 18px;
	font-weight: bold;
	color: Silver;
	border: 0px;
    background-color:transparent;
}

.RadioButton 
{
	font-size: 9pt;
	color: White;
	border: 0px solid #CCCCCC;
	BACKGROUND-COLOR: #303030;

}

.SelectDrop
{
	font-size: 12px;
	color: Gold;
	background-color: #000001;
}

.ButtonLogin
{
	Background-color:transparent;
	border: 0px;
	width:103px;
	height:43px;
	cursor:hand;
}

a {font-size: 16px; color: #FFFFCC; text-decoration: none;	line-height: 22px;}
a:hover  {text-decoration:underline; color: #FFFF00; font-size: 16px;}
a:active {text-decoration:underline;color:#FFFFCC;; font-size: 16px;}

a.Point {font-size: 14px; color: #666666; text-decoration: none;	line-height: 22px;}
a.Point:hover  {text-decoration:none; color: #666666; font-size: 14px;}


.Button
{
	cursor: hand;
	color: #FFFFFF;
	height: 28px;
	background-color: #2F404B;
	background-image: url(BgButton.png);
	border: 1px solid #CCCCCC;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}

.ButtonB
{
	cursor: hand;
	color: #FFFFFF;
	width:120px;
	height: 30px;
	background-color: #2F404B;
	background-image: url(BgButton.png);
	border: 1px solid #CCCCCC;
	font-size: 15px;
}

.ButtonInGrid
{
	cursor: hand;
	color: #FFFFFF;
	width:60px;
	height: 20px;
	background-color: #2F404B;
}

.ButtonValueDiv
{
	color: Lime;
	font-family: "Arial";
	width:80px;
	height: 20px;
	background-color: #999999;
	border: 1px solid #666666;
	font-size: 12pt;
}

.ButtonSensor
{
	padding: 0 0 0 0;
	color: #FFFFFF;
	font-family: "Arial";
	width:17px;
	height: 17px;
	background-color: transparent;
	background-image: url(../images/IconSensor/Cable.gif);
	border: 0px solid #CCCCCC;
	font-size: 9pt;
}
a.NumberBlue
{
	color: #006699;
	font-family: "Arial Black";
    FONT-SIZE: 22px;
    BACKGROUND-COLOR:  transparent;
    filter: DropShadow(Color=#000000, OffX=2, OffY=2);
}

a.NumberBlue:hover
{
	color: #006600;
	font-family: "Arial Black";
    FONT-SIZE: 28px;
    BACKGROUND-COLOR:  transparent;
    filter: DropShadow(Color=#000000, OffX=2, OffY=2);
    text-decoration:none;
}

.NumberOrange
{
	color: Orange;
	font-family: "Arial Black";
    FONT-SIZE: 22px;
    BACKGROUND-COLOR:  transparent;
    filter: DropShadow(Color=#000000, OffX=2, OffY=2);
}

.NumberRed
{
	color: Red;
	font-family: "Arial Black";
    FONT-SIZE: 22px;
    BACKGROUND-COLOR:  transparent;
    filter: DropShadow(Color=#000000, OffX=2, OffY=2);
}

.GVHeader
{
	height:25px;
	background-image: url(BgTdTitle.gif);
	text-align:left;
	color:#FFFFFF;
}
.TableHeader
{
	height:27px;
	background-image: url(BgGVHeader.png);
	text-align:left;
	color:Gold;
	FONT-SIZE: 14px;
	padding: 0 0 0 5px;
}
.CurveHeader
{
	height:25px;
	background-image: url(BgGVHeader.png);
	text-align:center;
	color: Gold;
    FONT-SIZE: 13px;
}

.GVRow
{
	height:30px;
	text-align:left;
}
.GV
{
	 border: 1px #666666 solid; 
}

.BodyMap1
{
	background-image: url(../images/Bridge1/Map.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

.BodyMap2
{
	background-image: url(../images/Bridge2/Map.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

.TdTitle
{
	height:25px;
	background-image: url(BgTdTitle.gif);
	text-align:Center;
	color: #FFFF66;
	FONT-SIZE: 15px;
	padding: 0 0 0 5px;
}
.TdContent
{
	padding: 7px 10px 7px 10px;
	FONT-SIZE: 15px;
	line-height: 22px;
}

.TdChart
{
	padding: 2px 2px 2px 2px;
}


.TdNumber
{
	Color: #333333;
	FONT-SIZE: 13px;
	font-family: "Arial";
	background-color:#CCCCCC; 
}

.TdTitleBlue
{  
	font-family: "黑体";
	font-size: 18px; 
	color: White;
	background-image: url(BgTdTitleBlue.gif);
}

.FontLime
{  
	font-family: "黑体";
	font-size: 18px; 
	color: #00FF00;
	font-weight: bold;
}
.FontYellow
{  
	font-family: "黑体";
	font-size: 18px; 
	color: Yellow;
	font-weight: bold;
}
.FontGold
{  
	font-family: "黑体";
	font-size: 18px; 
	color: #FFCC00;
	font-weight: bold;
}
.FontBlue
{  
	font-family: "黑体";
	font-size: 18px; 
	color: #0099FF;
	font-weight: bold;
}
.FontSilver
{  
	font-family: "黑体";
	font-size: 18px; 
	color: Silver;
	font-weight: bold;
}
.FontDeepskyblue
{  
	font-family: "黑体";
	font-size: 18px; 
	color: deepskyblue;
	font-weight: bold;
}